<!DOCTYPE html>
<html>
<head>
  <title>Create Attendance</title>
  <style>
    h1 {
    font-family: Arial, sans-serif;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-top: 20px;
    text-align: center;
  }

  table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: auto;
  }

  th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
    text-align: center;
  }

  button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 70%;
    margin-top: 20px;
  }

  button:hover {
    background-color: #0056b3;
  }

  a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
    width: 100%;
    text-align: center;
  }

  a:hover {
    text-decoration: underline;
  }
  body{
      font-family: 'Montserrat', sans-serif;

  }
  </style>
</head>
<body>
  <h1>Create Attendance for Session: {{sessionId}}</h1>
  <form action="/submit-attendance" method="post">
    <input type="hidden" name="sessionId" value="{{sessionId}}">
    <table>
      <thead>
        <tr>
          <th>Student ID</th>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each students}}
          <tr>
            <td>{{this.studentId}}</td>
            <td>{{this.name}}</td>
            <td>
              <select name="attendance[{{this.studentId}}]">
                <option value="Present">Present</option>
                <option value="Absent">Absent</option>
              </select>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <button type="submit">Submit Attendance</button>
  </form>
  <a href="/index">Back to Home</a>
</body>
</html>
